/* Стили для выезжающего меню */
.sidebar {
    width: 250px; /* Ширина панели */
    height: 100vh; /* Высота на весь экран */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Прижата к верхнему краю */
    right: -250px; /* Меню скрыто за правой границей */
    background-color: white; /* Белый фон */
    color: rgba(165, 165, 165, 0.61); /* Цвет текста */
    padding: 20px; /* Внутренние отступы */
    border-left: 5px solid rgba(200, 200, 200, 0.8); /* Левая красивая рамка */
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); /* Тень слева */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10; /* Убирает лишнюю жирность шрифта */
    letter-spacing: 1px;

    transition: right 0.3s ease; /* Анимация выезда */
    z-index: 999; /* Поверх других элементов */
    border-top-right-radius: 15px; /* Скруглённые углы сверху */
    border-bottom-right-radius: 15px; /* Скруглённые углы снизу */
}

.sidebar .close-btn {
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: rgb(159, 155, 155); /* Чёрный цвет текста */
    text-decoration: none;
     font-size: 13px;  /* Размер текста */
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Рамка для ссылок */
}

.sidebar a:hover {
    background-color: rgba(240, 240, 240, 1); /* Светлый фон при наведении */
    color: black; /* Цвет текста при наведении */
    border-color: rgba(200, 200, 200, 0.8); /* Изменение цвета рамки */
    transition: ;
}

/* Когда меню открыто */
.sidebar.open {
    right: 0; /* Показывает меню, выдвигая его справа */
}

/* Иконка открытия меню */
.icons .menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icons .menu img {
    width: 25px;
    height: 25px;
    opacity: 0.8; /* Немного прозрачная */
    transition: opacity 0.3s;
}

.icons .menu img:hover {
    opacity: 1; /* Полностью видимая при наведении */
}
